
.topnav{
    background-color: yellowgreen;
    overflow: hidden;
}
.topnav a{
    float: inline_start;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
}
.topnav a:hover{
    background-color: khaki;
    color: black;
}
.topnav a.active{
    background-color: azure;
    color: blue;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: Arial;

}
p{
    font-family: Arial;
    text-align: center;
}